<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupodetec.aventuraprote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.Sites.SitesActivity" />
        <activity android:name=".View.Sites.ContainerActivity" />
        <activity android:name=".View.Food.FoodActivity" />
        <activity android:name=".View.Food.ContainerActivity" />
        <activity android:name=".View.Adventure.AdventureActivity" />
        <activity android:name=".View.Adventure.ContainerActivity" />
        <activity android:name=".View.Hotel.HotelActivity" />
        <activity android:name=".View.Hotel.ContainerActivity" />
        <activity android:name=".View.Night.NightActivity" />
        <activity android:name=".View.Night.ContainerActivity"></activity>
    </application>

</manifest>